@import "../../../../styles.scss";
.list-client {
  .card-table {
    & > ul {
      display: none;
    }
  }
  .container {
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
    .card {
      background: $base;
      padding: 30px;
      border-radius: 15px;
      h1 {
        margin-bottom: 5px;
      }
    }
    .content-list {
      padding-top: 30px;
      .add-content {
        i {
          &.plus {
            background-image: url("/assets/plus.png");
            background-size: 14px;
            background-position: center;
          }
        }
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 0 0 35px;
        align-items: center;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .list-client {
      .content-list {
        .add-content {
          flex-direction: column;
          padding: 0 !important;
          h1 {
            margin-bottom: 20px;
          }
          .btn {
            background: #EB136D;
            width: 100%;
            padding: 10px 0;
            justify-content: center;        
          }
        }
        table {
          display: none;
        }
        .card-table {
          padding: 0;
          & > ul {
            display: block;
          }
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          & > li {
            padding: 20px;
            border-top: solid 1px #ddd;
            border-left: solid 1px #ddd;
            border-right: solid 1px #ddd;
            &:first-child {
              border-radius: 20px 20px 0 0;
            }
            &:last-child{
              border-bottom: solid 1px #ddd;
              border-radius: 0 0 20px 20px;
            }
            a {
              display: block;
            }
            > ul {
              li {
                border: none;
                padding: 0;
                .btn {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
  }
}