<div class="list-client">
    <div class="container">
        <div class="card">
            <h1>¡Bienvenida Carla!</h1>
            <p>Aquí podras gestionar a tus clientes.</p>
        </div>
        <div class="content-list">
            <div class="add-content">
                <h1>Lista de Clientes</h1>
                <a [routerLink]="['/add']" class="btn primary">
                    <i class="plus"></i>
                    Agregar Cliente</a>
            </div>
            <div class="card">
                <nz-table #basicTable [nzData]="listOfData">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.name }}</td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.address }}</td>
                        <td>
                          <a>Action 一 {{ data.name }}</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <a>Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                <!-- <table>
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Celular</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jairo Alberto</td>
                            <td>Machuca Cóndor</td>
                            <td>963428491</td>
                            <td>Fidelizado</td>
                        </tr>
                        <tr>
                            <td>Jairo Alberto</td>
                            <td>Machuca Cóndor</td>
                            <td>963428491</td>
                            <td>Fidelizado</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
</div>