<div class="list-client">
    <div class="container">
        <div class="card">
            <h1>¡Bienvenida Carla!</h1>
            <p>Aquí podras gestionar a tus clientes.</p>
        </div>
        <div class="content-list">
            <div class="add-content">
                <h1>Lista de Clientes</h1>
                <a [routerLink]="['/add']" class="btn primary">
                    <i class="plus"></i>
                    Agregar Cliente</a>
            </div>
            <div class="card">
                <nz-table #basicTable [nzData]="listOfData">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let customer of customerList$ | async">
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.estado }}</td>
                        <td>
                            <a [routerLink]="['/edit', customer.id]" class="mt-3 pl-3" >Editar</a>
                            <a (click)="deleteCustomer(customer.id)" class="mt-3 pl-3" >Delete</a>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
            </div>
        </div>
    </div>
</div>