/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    min-height: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
/*color variables*/
$primary: #EB136D;
$secundary: #3D086C;
$base: #fff;
$gradual-v: linear-gradient(180deg, rgba(235,19,109,1) 0%, rgba(61,8,108,1) 100%);
$gradual-h: linear-gradient(90deg, rgba(235,19,109,1) 0%, rgba(61,8,108,1) 100%);

.btn{
    color: $base;
    border-radius: 20px;
    padding: 6px 15px;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    &.primary 
    {
       background: $primary;
   }
   &.secundary 
    {
       background: $secundary;
   }
}
h1 {
    font-size: 20px;
    color: $primary;
    &.secundary {
        color: $secundary;
    }
}

i{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
}

// .ant-table {
//     clear: none;
// }
// .ant-table-wrapper::after, .ant-table-wrapper::before {
//     display: inline-block;
// }