<div class="left" [ngClass]="{'active' : active}">
  <div class="logo">
    <img src="./assets/logo.png" alt="">
  </div>
  <div class="user">
    <img src="./assets/user.png" alt="">
    <p>Carla Benavides</p>
    <a href="#">Editar Perfil</a>
  </div>
  <ul class="nav"> 
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">
        <i class="dashboard"></i>
        Dashboard</a>
    </li>
    <li>
      <a href="#">
        <i class="dashboard"></i>
        Whatsapp Acount</a>
    </li>
    <li>
      <a [routerLink]="['/']">
        <i class="cliente"></i>
        Calendarios Asociados</a>
    </li>
    <li>
      <a href="#">
        <i class="quit"></i>
        Cerrar sesión</a>
    </li>
  </ul>
</div>
<div class="overlay" (click)="viewNav()"></div>