<div class="form-client">
    <div class="container">
        <div class="content-form">
            <div class="add-content">
                <a [routerLink]="['/']" class="back">
                    <i></i>
                    Atrás
                </a>
                <h1 class="secundary">Nuevo Cliente</h1>
                <a [routerLink]="['/add']" class="btn secundary">
                    Guardar</a>
            </div>
            <div class="card">
                <form action="" class="inline two">
                    <div class="form-control">
                        <label for="">Nombres</label>
                        <input type="text">
                    </div>
                    <div class="form-control">
                        <label for="">Apellidos</label>
                        <input type="text">
                    </div>
                    <div class="form-control">
                        <label for="">Celular</label>
                        <input type="text">
                    </div>
                    <div class="form-control">
                        <label for="">Estado</label>
                        <input type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>