.content-view {
    background: #fff0f6;
    height: calc(100% - 69px);
    display: block;
    width: calc(100% - 241px);
    margin-left: 241px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .content-view {
        width: auto;
        margin: 0;
        height: 100%;
        padding: 0 20px;
    }
}
