<div class="form-client">
    <div class="container">
        <div class="content-form">
            <div class="add-content">
                <a [routerLink]="['/customers']" class="back">
                    <i></i>
                    Atrás
                </a>
                <h1 class="secundary">Nuevo Cliente</h1>
                <a (click)="onSubmit()" class="btn secundary"> Guardar </a>
            </div>
            <div class="card">


                <form action="" class="inline two" >
                    <div class="form-control">
                        <label for="">Customer ID</label>
                        <input type="text"
                         [(ngModel)]="customer.id"
                        name="id" 
                        disabled="disabled"
                        placeholder="Customer ID">
                        <small>Este campo es autogenerado</small>
                    </div>
                    <div class="form-control">
                        <label for="">Nombre completo</label>
                        <input type="text" [(ngModel)]="customer.name" name="name">
                    </div>
                    <div class="form-control">
                        <label for="">Celular</label>
                        <input type="text" [(ngModel)]="customer.phone" name="phone">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>